.menu-row{
  box-shadow: #73717173 2px 3px 5px;
  background-color: #E30433;
  padding-bottom: 4em;
  max-width: 270px !important;
  height: 100%;
}

.content-row{
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-x: hidden;
}



.tableHeader{
  padding: 20px;
  transition: all .4s ease-in-out 0s;
  text-align: right;
}

.userTable {
  width: 95%;
  padding: 0 15px;
  left: 40px;
  top: 40px;
  position: relative;
}


.main-content > .ant-spin-nested-loading > .ant-spin-container > .ant-table {
  font-size: 14px;
}

.main-content>.ant-table-wrapper:hover{
  box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
  transition: all .4s ease-in-out 0s;
}
.indexSpinner{
  margin-top: 256px;
}

    //margin-bottom: remCal(70);
  
    .admin {
      &-sidebar {
        @include mq(lg) {
          margin-bottom: emCal(14, 50);
          
        }
        h5 {
          @include typo($fsz: emCal(19, 30), $fw: 700, $cpt: true);
          margin-bottom: emCal(30, 45);
          color: rgb(180, 180, 180);
        }
        &__subcategory {
          padding-left: 1vw !important;
          padding-top: 3rem !important;

          ul {
            list-style: none;
            li {
              //margin-bottom: emCal(16, 18);
              //padding: 0.5rem;
              &:hover{background: #d5d5d5;}
              &:last-child {
                margin-bottom: 0;
              }
              &.active {
                a {
                  color: #2b2b2b;
                }
                a:hover{
                  color:unset
                }
                background: #FF8181;
                box-shadow: $button-backgroundColor 1px 0px 0px 1px;
                clip-path: inset(0px -8px 0px 0px);
              }
              a {
                display: block;
                padding: 1rem;
                i {
                  margin-right: emCal(16, 15);
                }
                @include link(
                  $hvr-color: $button-backgroundColor,
                  $cpt: true,
                  $fw: 500,
                  $color: setShadeColor(dark)
                );
              }
            }
          }
        
        
          &-mobile {
            display: none;
            @include mq(md) {
              display: block;
            }
            .ant-select {
              .ant-select-selector {
                background-color: setColor(light);
                border: 0;
                border-radius: 0;
                height: emCal(16, 45);
                .ant-select-selection-item {
                  font-weight: 700;
                  line-height: emCal(16, 45);
                  i {
                    margin-right: emCal(16, 15);
                  }
                }
              }
            }
          }
        }
      }
      &-content {
        &__header {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: emCal(16, 30);
          @include mq(sm) {
            justify-content: center;
          }
          &-showing {
            @include mq(sm) {
              margin-bottom: emCal(14, 20);
            }
            h5 {
              @include typo($fsz: emCal(16, 18), $fw: 500);
            }
          }
          &-filter {
            p {
              @include typo($fsz: emCal(16, 15), $fw: 500);
              margin-right: emCal(15, 20);
              display: inline-block;
              margin-right: emCal(15, 20);
            }
            &__select {
              &.ant-select {
                .ant-select-selector {
                  border: 0;
                  background-color: setColor(light);
                  height: emCal(16, 40);
                }
                .ant-select-selection-item {
                  font-size: emCal(16, 15);
                  color: setShadeColor(dark);
                  font-weight: 500;
                  line-height: emCal(16, 40);
                }
              }
            }
          }
        }
        &__product {
          .five-col {
            @media (min-width: 1200px) {
              flex: 1 1 20%;
              max-width: 20%;
            }
          }
          .ant-pagination-prev,
          .ant-pagination-next {
            background-color: setColor(light);
            border: 0;
            border-radius: 0;
            height: emCal(16, 40);
            width: emCal(16, 40);
            &:hover:not(.ant-pagination-disabled) {
              background-color: darken(setColor(light), 10%);
            }
            a {
              color: setShadeColor(dark);
              font-size: emCal(16, 15);
              line-height: emCal(15, 40);
            }
          }
          .ant-pagination {
            @include mq(lg) {
              text-align: center;
            }
            &-item {
              background-color: setColor(light);
              border: 0;
              border-radius: 0;
              height: emCal(16, 40);
              width: emCal(16, 40);
              &:hover {
                background-color: darken(setColor(light), 10%);
              }
              a {
                color: setShadeColor(dark);
                font-size: emCal(16, 15);
                line-height: emCal(15, 40);
              }
              &-active {
                background-color: setShadeColor(dark);
                &:hover {
                  background-color: setShadeColor(dark);
                }
                a,
                button {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

  